Body {
    background-color: #444444;
    color: #cccccc;
    font-family: sans-serif;
    		     
/* #a79e78, #9e78a7, #78a79e*/
}
a {
      text-decoration: none;
      color: #bb9aca
}
img{
    width: 50%;
    height: 50%;
}
		 

